.GameCard__settingsIcon {
  fill: var(--text-default);
}

.GameCard__playIcon > circle {
  fill: var(--success);
}

.GameCard__installIcon > circle {
  fill: var(--accent);
}

.GameCard__cancelIcon > circle {
  fill: var(--danger);
}
